{% extends 'base.html' %}

{% block content %}
<div class="p-3">
  {% with url_name=request.resolver_match.url_name %}
    {% if url_name == 'add_post' %}
    <div class="jumbotron pt-2 pb-2" style="background-color: #f0f2f4">
      <h1 class="display-4">we're all ears!</h1>
      <p class="lead"><strong>{{ user }}</strong>, what would you like to share?</p>
      <form method="POST" class="post-form">{% csrf_token %}
        <span class="text-black-50"><em>Character Limit: 140</em></span>
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default text-white"  style="background-color:#1F7A8C;">Send</button>
      </form><br>
      <p class="lead"><em>The IMTwitter world is your oyster!</em></p>
    </div>
    {% endif %}
    {% if url_name == 'edit_post' %}
    <div class="jumbotron pt-2 pb-2" style="background-color: #f0f2f4">
      <h1 class="display-4">edit post</h1>
      <p class="lead"><strong>{{ user }}</strong>, how would you like to chage this?</p>
      <form method="POST" class="post-form">{% csrf_token %}
        <span class="text-black-50"><em>Character Limit: 140</em></span>
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default text-white"  style="background-color:#1F7A8C;">Edit</button>
      </form><br>
      <p class="lead"><em>The IMTwitter world is your oyster!</em></p>
    </div>
    {% endif %}
  {% endwith %}
{% endblock %}
