{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="p-3 row justify-content-center">
  <div class="pt-4 col-12 col-sm-11 col-md-10">
    <div class="jumbotron pt-2 pb-2" style="background-color: #f0f2f4">
      <h1 class="display-4">Welcome to your Dashboard, {{ user }}!</h1>
      <div class="row">
        <div class="col-12 col-lg-9">
          <p class="lead align-bottom mb-4">This is a simple little post & comment app. Give it a spin!</p>
        </div>
        <div class="col-12 col-lg-3 align-middle" style="position:relative; bottom:18px;">
          <a href="{% url 'add_post' %}" style="text-decoration: none;"><button class="center text-white btn-lg btn-primary">Create Post</button></a>
        </div>
      </div>
      <hr class="my-0 mb-2" style="position:relative; bottom:5px;">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-1 text-right"><h4><i class="fas fa-comments"></i></h4></div>
            <div class="col-11 pl-0 text-left"><span class="align-middle">New to IMTwitter? Create a post to say hello!</span><br></div>
          </div>
          <div class="row">
            <div class="col-1 text-right"><h4><i class="fas fa-paw"></i></h4></div>
            <div class="col-11 pl-0 text-left"><span class="align-middle">Have a cute animal pic that needs to be shared? We're happy to have it.</span><br></div>
          </div>
          <div class="row">
            <div class="col-1 text-right"><h4><i class="fas fa-reply"></i></h4></div>
            <div class="col-11 pl-0 text-left"><span class="align-middle">Striken with the wittiest of retorts? Give 'em a comment!</span><br></div>
          </div>
          <div class="row">
            <div class="col-1 text-right"><h4><i class="fas fa-question-circle"></i></h4></div>
            <div class="col-11 pl-0 text-left"><span class="align-middle">Need help or want to know more about how this app was developed? See my "About" page.</span><br></div>
          </div>
        </div>
      </div>
      <p class="lead mt-3"><em>The IMTwitter world is your oyster!</em></p>
    </div>
  </div>
</div>
<p> <a href="#post8">Testing</a> </p>
<p> <a href="#post7">Testing</a> </p>
<p> <a href="#post6">Testing</a> </p>
<p> <a href="#post5">Testing</a> </p>
<p> <a href="#post4">Testing</a> </p>
<p> <a href="#post3">Testing</a> </p>
<p> <a href="#post2">Testing</a> </p>
<p> <a href="#post1">Testing</a> </p>
<div class="row justify-content-center">
  <div style="width: 80%;">
        <h3 class="mt-2 align-bottom float-left">Most recent posts:</h3>
        <a href="{% url 'add_post' %}" class="float-right justify-content-center" style="text-decoration: none;"><button class="center text-white btn-lg btn-primary">Create Post</button></a>
  </div>
  <div class="card p-0 m-3" style="width: 80%; background-color:#f0f2f4;">
{% for post in posts %}
    <div id="post{{ post.pk }}" class="card-body">
      {% if post.user == request.user %}
      <div class="clearfix pb-3 text-right">
        <span class="font-italic text-muted">As the poster you may:</span>
        <a href="{% url 'edit_post' pk=post.pk %}"><button class="btn btn-success ml-3 mb-2">Edit post</button></a>
        <a href="{% url 'delete_post' pk=post.pk %}"><button class="btn btn-danger ml-3 mb-2">Delete post</button></a>
      </div>
      {% endif %}
      <h5 class="card-title">Posted by <strong>{{ post.user }}</strong> <span class="font-italic small mb-2 text-muted">on {{ post.pud_date }}</span></h5>
      <p class="card-text">{{ post.post_text }}</p>
    </div>
    <div class="row justify-content-center">
      <a href="{% url 'add_comment_to_post' pk=post.pk %}"><button class="center btn btn-primary" style="background-color:#1F7A8C;">Add comment</button></a>
    </div>
    <div class="row justify-content-center">
    {% for comment in post.comment_set.all %}
      <div id="comment{{ comment.pk }}" class="card p-0 m-3" style="width: 80%; background-color:#F8F9FA;">
        <div class="card-body">
          {% if comment.user == request.user %}
          <div class="clearfix pb-3 text-right">
            <span class="font-italic text-muted">As the poster you may:</span>
            <!-- <a href="{% url 'edit_comment' pk=comment.pk %}" class="float-right"><button class="center btn btn-primary">Edit Commment</button></a> -->
            <a href="{% url 'delete_comment' pk=comment.pk %}"><button class="btn btn-danger ml-3 mb-2">Delete Comment</button></a>
          </div>
          {% endif %}
          <h5 class="card-title">Reply by <strong>{{ comment.user }}</strong> <span class="font-italic small mb-2 text-muted">on {{ comment.pub_date }}</span></h5>
          <p class="card-text">{{ comment.comment_text }}</p>
        </div>
      </div>
    {% endfor %}

  </div>
  <hr>
{% endfor %}
<div class="pl-5 pr-5 pb-5 pt-0">
  <div class="p-0 .text-nowrap" style="white-space: nowrap;">
    <div class="d.inline-block w-25 float-left">
      <img class="img-fluid d.inline-block p-0" style="transform: scaleX(-1)" src="{% static "rainbow-right.png" %}" alt="raindow">
    </div>
    <div class="float-left text-center w-50 p-0" style="white-space: normal;"><br>¯\_(ツ)_/¯<br><br>End of post list - I'm going to go lie down in the sun with my friend billy.</div>
    <div class="d.inline-block w-25 p-0 float-right">
      <img class="img-fluid d.inline-block p-0" src="{% static "rainbow-right.png" %}" alt="raindow">
    </div>
  </div>
  <img class="img-fluid border border-success rounded" src="{% static "goat.jpg" %}" alt="billy the goat">
</div>
  </div>
</div>
{% endblock %}
