{% extends "base.html" %}

{% block content %}
  {% for post in posts %}
  <p>Here are some posts:</p>
  <p>{{ post.post_text }}</p>
  {% endfor %}
  <!-- <a href="{{ job.link }}">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="{{ job.image.url }}" />
        <div class="card-body">
          <p class="card-text">{{ job.summary }}</p>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </a> -->
  <p>We should see posts above. Why don't we?</p>
{% endblock %}
